.boton {
  background-color: purple;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton:hover {
  background-color: #6c63ff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
